@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 80vw;
    height: 80px;
    margin:auto;
    margin-top: 30px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
ul img{
    width: 130px;
    
}
ul button{
   margin-left: 630px;
   background-color: rgb(145, 94, 249);
   padding: 10px 13px;
   border-radius: 5px;
   border: none;
   font-weight: bold;
   color: white;
}

.hero{
    display: flex;
    width: 80vw;
    margin: auto;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width:45%;
}
.heading-text{
   font-weight: bold;
}
.description{
    color: gray;
}
span{
    color: rgb(145, 94, 249);
}
.right{
    width: 55%;
}
.btn{
    background-color: rgb(145, 94, 249);
    padding: 10px 13px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    color: white;
    width: 160px;
}
.right img{
  width: 100%;
}
